/* Generic CSS */
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.inline-block {
    display: inline-block;
}

/* Panels */
.panel-heading:before,
.panel-heading:after {
    display: table;
    content: "";
    clear: both;
}

/* Plans */
.plan {
    width: 32%;
    float: left;
    margin-right: 1.3333%
}

.plan .panel-body {
    height: 94px;
}

/* Days */
.day {
    width: 18.6666%;
    float: left;
    margin-right: 1.3333%;
}

.day .panel-body {
    height: 94px;
}

#new-day-schedule {
    height: 400px;
}
