/* Generic CSS */
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.inline-block {
    display: inline-block;
}

/* Panels */
.panel-heading:before,
.panel-heading:after {
    display: table;
    content: "";
    clear: both;
}

/* Plans */
.plan {
    width: 32%;
    float: left;
    margin-right: 1.3333%;
    position: relative;
}

.plan .panel-body {
    height: 94px;
}

/* Days */
.days {
    width: 18.6666%;
    float: left;
    margin-right: 1.3333%;
    position: relative;
}

.days .panel-body {
    height: 94px;
}

#new-day-schedule {
    height: 400px;
}

.actions-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.actions-overlay-btns {
    padding-top: 40px;
}

.actions-overlay-btns .btn {
    width: 100%;
}

.days:hover .actions-overlay {
    display: block;
}
