/* Generic CSS */
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.inline-block {
    display: inline-block;
}

/* Panels */
.panel-heading:before,
.panel-heading:after {
    display: table;
    content: "";
    clear: both;
}

/* Plans */
.plan {
    width: 32%;
    float: left;
    margin-right: 1.3333%
}

.plan .panel-body {
    height: 94px;
}

/* Days */
.day {
    width: 15.3333%;
    float: left;
    margin-right: 1.3333%;
}

.day:hover {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(9,9,9,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(9,9,9,0.2);
    box-shadow: 0px 0px 3px 0px rgba(9,9,9,0.2);
    cursor: pointer;
}
